*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    background-color: gray;
    color: bisque;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color:black;
    padding: 20px 25px;
    border-radius: 10px;;
}

.timerDisplay{
    font-size: 60px;
    font-weight: 600;
}

.buttons{
    margin-top: 17px;
}

.btn{
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    cursor: pointer;
}